.header {
    background-color: #3BA7C2;
    padding: 1rem 2rem;

    position: sticky;
    top: 0;
    z-index: 100;
}

.header h1 {
    margin: 0;
    color: white;
    font-size: 1.5rem;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__logo img {
    height: 50px;

}

.header__nav {
    margin-left: auto;
    display: flex;
    gap: 2rem;
}

.header__nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    background-color: #F8A23A;
    border-radius: 16px;
    height: 2rem;
    align-content: center;
    padding: 0.25rem 1rem;
    border: 1px solid black;
}

.header__nav a:hover {
    text-decoration: underline;
    background-color: #e5942f;
}

.header__search {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    background-color: white;
    border-radius: 16px;
    height: 4dvh;
    width: 30dvh;
    padding: 0 1rem;
}

.header__search button {
    background: transparent;
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.header__search-input {
    border: none;
    outline: none;
    background: transparent;


}

