.header {
    background-color: #3BA7C2;
    padding: 1rem 2rem;

    position: sticky;
    top: 0;
    z-index: 100;
}

.header h1 {
    margin: 0;
    color: white;
    font-size: 1.5rem;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__logo img {
    height: 40px;

}

.header__nav {
    margin-left: auto;
    display: flex;
    gap: 2rem;
}

.header__nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    background-color: #F8A23A;
}