.pagination {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
}

.pagination button {
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  background-color: #3BA7C2;
  color: rgb(6, 0, 0);
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: default;
}
